.about-left {
  grid-area: left;
}
.about-right {
  grid-area: right;
}

.about {
  display: grid;
  grid-template-areas: ". left right .";
  grid-gap: 10px;
  gap: 10px;
  align-items: start;
  width: 90%;
  justify-items: center;
  justify-content: start;
}

.about-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .about-card.bg {
  position: absolute;
  top: -28px;
  left: 85px;
  box-shadow: 0 0 25px #000;
  background-color: #333;
} */

/* .about-card {
  width: 100%;
  height: 60vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
} */

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0 0 25px #000;
  border: 1px solid #575757;
  object-fit: cover;
  overflow: hidden;
}

.about-title {
  font-weight: 400;
}

.about-sub {
  margin: 20px 0px;
}

.about-desc {
  font-weight: 300;
}

@media screen and (max-width: 980px) {
  .about {
    grid-template-areas:
      ". left ."
      ". right .";
    margin-top: 30px;
  }
  .about-right {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .about {
    margin-top: 25px;
  }
  .about-left {
    margin-top: 25px;
  }
  .intro-desc {
    display: none;
  }
  .intro-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
